/*Estilo de la imagen y su posición (GÓMEZ MORENO BLANCA JANETH)*/



/*Estilo del correo electrónico y su posición (FONSECA CAMARGO ÓSCAR IVÁN*/
.seccion_correo{
text-align: center;
font-size: 20px;
color: #1C2833;
text-shadow: #151515 2px 5px 5px;
font-style:Verdana;
  }
.seccion_correo:hover{
  color: #DF0101;
}

/*Estilo de la información básica y su posición (CASTRO LÓPEZ JHON SEBASTIÁN)*/
.seccion_2{

  border: 1px solid black;
  display: inline-block ;
  text-align: left;
  padding: 7px;
  max-width: 350px;
  max-height: 160px;
  min-width: 350px;
  min-height: 160px;

}
input{
  margin-bottom: 7px;
}
.hobies_items{
  margin-left: 42%;
  display: block;
}
#name{
  margin-left: 24%;
}
.InformacionBasica{

  text-align:center;
}
/*Estilo del campo comentario y su posición (ARIZA ROJAS NICOLÁS ALBEIRO)*/
.Comentarios_Seccion{
  display: flex;
  padding: 0;
  margin-top: 15px;
  justify-content: center;
}

.Comentarios_{

  max-width: 370px;
  max-height: 160px;
  min-width: 370px;
  min-height: 160px;
}
#comentario{
float: left;
}

textarea{
  width: 74.5%;
  height: 65%;
  border-color: black;
}
/*Estilo del botón y su posición (MARTÍNEZ PULIDO SERGIO IVÁN)*/
#Publicar_button{
  float: right;
  width: 73%;
  color: white;
  background-color: #579CD7;
  margin-right: 10px;
  border-radius: 8px;
  outline: none;
}

/*Estilo del borde externo y su transición (CONTRERAS APARICIO ÓSCAR GERARDO)*/
.content{
  border: 1px solid;
  border-bottom-color: #3366ff;
  border-right-color: #004d00;
  border-left-color: #004d00;
  margin: auto;
  width: 400px;
  height: 550px;
  transition-property: border-radius;
  transition-duration: 2s;
}
.content:hover {
  border-radius: 20px;
}

/*Transición de la imagen en el evento hover (VALERO GÁMEZ DAVID ESTEBAN)*/


/*Transición de la información básica en el evento hover (ALARCÓN ALARCÓN CARLOS MANUEL)*/


/*Transición del botón en el evento hover (HOYOS PASTRANA EDIER ALEXIS)*/
