/*Estilo de la imagen y su posición (GÓMEZ MORENO BLANCA JANETH)*/


/*Estilo del correo electrónico y su posición (FONSECA CAMARGO ÓSCAR IVÁN*/
.seccion_correo{
text-align: center;
font-size: 20px;
color: #1C2833;
text-shadow: #151515 2px 5px 5px;
font-style:Verdana;
  }
.seccion_correo:hover{
  color: #DF0101;
}

/*Estilo de la información básica y su posición (CASTRO LÓPEZ JHON SEBASTIÁN)*/


/*Estilo del campo comentario y su posición (ARIZA ROJAS NICOLÁS ALBEIRO)*/


/*Estilo del botón y su posición (MARTÍNEZ PULIDO SERGIO IVÁN)*/


/*Estilo del borde externo y su transición (CONTRERAS APARICIO ÓSCAR GERARDO)*/


/*Transición de la imagen en el evento hover (VALERO GÁMEZ DAVID ESTEBAN)*/


/*Transición de la información básica en el evento hover (ALARCÓN ALARCÓN CARLOS MANUEL)*/


/*Transición del botón en el evento hover (HOYOS PASTRANA EDIER ALEXIS)*/
